services:
	permissionFactory:
		class: Drago\Permission\PermissionFactory
		arguments: [tagged(PermissionTag)]

	- @permissionFactory::create

search:
	permissions:
		in: %appDir%/Presentation
		classes: [PermissionProvider]
		tags: [PermissionTag]
