services:
	permissionFactory:
		class: Drago\Permission\PermissionFactory
		arguments: [tagged(PermisionTag)]

	- @permissionFactory::create

search:
	permissions:
		in: %appDir%/UI
		classes: [PermissionProvider]
		tags: [PermisionTag]
